# Example envg 

BACKOFF_MULTIPLIER=2
INITIAL_BACKOFF_MS=200
REQUEST_TIMEOUT_MS=12000

# API Keys (Google)
GOOGLE_API_KEY=AIzaSy***
GOOGLE_API_KEY_2=AIzaSy***
GOOGLE_API_KEY_3=AIzaSy***

HTTP_REFERER=https://your-app-domain.com

# Port
LRX_BACKEND_PORT=3000

# API keys
SERVER_API_KEYS="Rd***, Rd***, Rd***"

# Master key
# Right now, it's just like the other API keys
SERVER_MASTER_API_KEY="KeyHere***"


TRUST_PROXY=2

# Database secrets 
TURSO_AUTH_TOKEN=***
TURSO_DATABASE_URL=libsql://***

# Cant remember what's this for but it's in the server secrets lol
X_TITLE=LyricsBackend
